<h1>Menu at Gigih Family Catering</h1>

<div class="row mb-3">
  <select class="form-control" id="category-select">
    <option>All</option>
  </select>
</div>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="table-body">
    <%
      # <tr>
      #   <th scope="row">1</th>
      #   <td>Mark</td>
      #   <td>Otto</td>
      #   <td>@mdo</td>
      # </tr>
    %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag('menus/index.js') %>