<h1>All Catering's Orders Page at Gigih Family Catering</h1>

<div class="row m-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-modal">Create</button>
</div>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Orders</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="table-body">
    <%
      # <tr>
      #   <th scope="row">1</th>
      #   <td>Mark</td>
      #   <td>Otto</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      # </tr>
    %>
    </tbody>
  </table>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" id="create-modal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name" class="col-form-label">Customer Name:</label>
          <input type="text" class="form-control" name="name" id="name">
          <label for="email" class="col-form-label">Customer Email:</label>
          <input type="email" class="form-control" name="email" id="email">
          <div class="p-3">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Menu
                  </th>
                  <th>
                    Quantity
                  </th>
                </tr>
              </thead>
              <tbody id="menus"></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="status" class="col-form-label">Categories:</label>
          <select id="status" class="form-control">
            <option value="PAID">PAID</option>
            <option value="CANCELED">CANCELED</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<script>
  let menus = [];
  let selected_order = null;

  function getMenus() {
    let url = '/api/menus';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        menus = data;

        let div_menus = $('#menus');

        div_menus.empty();

        for (let i = 0; i < menus.length; i++) {
          let menu = menus[i];

          let tr_menu = $('<tr></tr>');
          let td_menu_name = $('<td></td>');
          let input_menu = $('<input type="checkbox" class="form-check-input" name="menus[]" value="' + menu.id + '">');
          let label_menu = $('<label class="form-check-label">' + menu.name + '</label>');
          let td_menu_quantity = $('<td></td>');
          let input_quantity_menu = $(`<input type="number" class="form-check-input" name="quantity_menus[]" id="quantity-${menu.id}" value="0" min="0">`);

          td_menu_name.append(input_menu);
          td_menu_name.append(label_menu);
          td_menu_quantity.append(input_quantity_menu);
          tr_menu.append(td_menu_name);
          tr_menu.append(td_menu_quantity);

          div_menus.append(tr_menu);
        }
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  }

  function getOrders() {
    let url = '/api/orders';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        let tbody = $("#table-body");
        let counter = 1;
        menus = data;

        tbody.empty();
        data.forEach(order => {
          let row = `<tr>
            <th scope="row">${counter}</th>
            <td>${order.customer.name}</td>
            <td>${order.customer.email}</td>
            <td>
          `;
          
          order.order_menus.forEach(order_menu => {
            row += `<div class="row">
              - ${order_menu.menu.name} | Jumlah: ${order_menu.quantity} | Total: ${order_menu.total_price}
            </div>`;
          });

          row += `</td>
            <td>${order.created_at}</td>
            <td>${order.total_price}</td>
            <td>${order.status}</td>
            <td>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-modal" data-id="${order.id}">
                Edit
              </button>
            </td>
          </tr>`;

          tbody.append(row);

          counter++;
        });
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  }

  getMenus();
  getOrders();

  $('#create-modal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let modal = $(this);
  });

  $('#create-modal').on('click', '.btn-primary', function() {
    let url = '/api/orders/';
    let name = $('#create-modal input[name="name"]').val();
    let email = $('#create-modal input[name="email"]').val();
    let menus = [];

    $('#create-modal input[name="menus[]"]:checkbox:checked').each(function() {
      let quantity = $("#quantity-" + $(this).val()).val();

      if (quantity > 0) {
        menus.push({
          menu_id: parseInt($(this).val()),
          quantity: parseInt(quantity)
        });
      }
    });

    if (menus.length < 1) {
      alert('Please select at least one menu');

      return;
    }

    menus = JSON.stringify(menus);

    let payload = {
      customer: {
        name: name,
        email: email
      },
      menus: menus
    };

    console.log(payload);

    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      data: payload,
      success: function(data) {
        $('#create-modal').modal('hide');
        alert("Order created");
        getOrders();
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  });

  $('#edit-modal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let id = button.data('id');
    selected_order = id;
  });

  $('#edit-modal').on('click', '.btn-primary', function() {
    let url = '/api/orders/' + selected_order;
    let new_status = $('#edit-modal select').val();

    let payload = {
      status: new_status
    };

    $.ajax({
      url: url,
      type: 'PUT',
      dataType: 'json',
      data: payload,
      success: function(data) {
        $('#edit-modal').modal('hide');
        alert(data.message);
        getOrders();
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  });
</script>
