<h1>Order's Revenue Page at Gigih Family Catering</h1>

<div class="row mb-3">
  <div class="col-2">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="col-2">
    <label for="min-price">Min Price</label>
    <input type="number" class="form-control" id="min-price" min="0" />
  </div>
  <div class="col-2">
    <label for="max-price">Max Price</label>
    <input type="number" class="form-control" id="max-price" min="0" />
  </div>
  <div class="col-2">
    <label for="min-date">Min Date</label>
    <input type="date"  data-date-format="DD MMMM YYYY" class="form-control" id="min-date"/>
  </div>
  <div class="col-2">
    <label for="max-date">Max Date</label>
    <input type="date" class="form-control" id="max-date"/>
  </div>
  <div class="col-2 pt-4">
    <button class="btn btn-primary" id="search">Search</button>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Orders</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody id="table-body">
    <%
      # <tr>
      #   <th scope="row">1</th>
      #   <td>Mark</td>
      #   <td>Otto</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      # </tr>
    %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag('orders/revenue.js') %>
