<h1>Order's Revenue Page at Gigih Family Catering</h1>

<div class="row mb-3">
  <div class="col-2">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="col-2">
    <label for="min-price">Min Price</label>
    <input type="number" class="form-control" id="min-price" min="0" />
  </div>
  <div class="col-2">
    <label for="max-price">Max Price</label>
    <input type="number" class="form-control" id="max-price" min="0" />
  </div>
  <div class="col-2">
    <label for="min-date">Min Date</label>
    <input type="date"  data-date-format="DD MMMM YYYY" class="form-control" id="min-date"/>
  </div>
  <div class="col-2">
    <label for="max-date">Max Date</label>
    <input type="date" class="form-control" id="max-date"/>
  </div>
  <div class="col-2 pt-4">
    <button class="btn btn-primary" id="search">Search</button>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Orders</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody id="table-body">
    <%
      # <tr>
      #   <th scope="row">1</th>
      #   <td>Mark</td>
      #   <td>Otto</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      #   <td>@mdo</td>
      # </tr>
    %>
    </tbody>
  </table>
</div>

<script>
  function getInputs() {
    let email = $("#email").val();
    let min_price = $("#min-price").val();
    let max_price = $("#max-price").val();
    let min_date = $("#min-date").val();
    let max_date = $("#max-date").val();

    let query = '';

    if (email) {
      query += 'email=' + email + "&";
    }

    if (min_price) {
      query += 'min_price=' + min_price + "&";
    }

    if (max_price) {
      query += 'max_price=' + max_price + "&";
    }

    if (min_date) {
      query += 'min_date=' + min_date + "&";
    }

    if (max_date) {
      query += 'max_date=' + max_date;
    }

    return query;
  }

  function getOrders() {
    let url = '/api/orders/revenue?';

    url += getInputs();

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        let tbody = $("#table-body");
        let counter = 1;

        tbody.empty();
        data.orders.forEach(order => {
          let row = `<tr>
            <th scope="row">${counter}</th>
            <td>${order.customer.name}</td>
            <td>${order.customer.email}</td>
            <td>
          `;
          
          order.order_menus.forEach(order_menu => {
            row += `<div class="row">
              - ${order_menu.menu.name} | Jumlah: ${order_menu.quantity} | Total: ${order_menu.total_price}
            </div>`;
          });

          row += `</td>
            <td>${order.status}</td>
            <td>${order.total_price}</td>
          </tr>`;

          tbody.append(row);

          counter++;
        });

        let row = `<tr>
            <th></th>
            <td colspan="4" style="text-align:center;"><b>Total</b></td>
            <td>${data.total_revenue}</td>
          </tr>`;

        tbody.append(row);
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  }

  getOrders();

  $("#search").on("click", function(event) {
    getOrders();
  });
</script>
