<h1>Category at Gigih Family Catering</h1>

<div class="row m-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-modal">Create</button>
</div>

<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="table-body">
    <%
      # <tr>
      #   <th scope="row">1</th>
      #   <td>Mark</td>
      # </tr>
    %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Category Name:</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Category Name:</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<script>
  function getCategories() {
    let url = '/api/categories';
    let category = {};

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        let tbody = $("#table-body");
        let counter = 1;
        tbody.empty();

        data.forEach(category => {
          tbody.append(
            `<tr>
              <th scope="row">${counter}</th>
              <td>${category.name}</td>
              <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-modal" data-id="${category.id}" data-name="${category.name}">
                  Edit
                </button>
              </td>
            </tr>`
          );

          counter++;
        });
      },
      error: function(data) {
        alert(data.message);
      }
    });
  }

  getCategories();

  $('#create-modal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let modal = $(this);
  });

  $('#create-modal').on('click', '.btn-primary', function() {
    let url = '/api/categories/';
    let name = $('#create-modal input').val();
    let payload = {
      category: {
        name: name
      }
    };

    $.ajax({
      url: url,
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: payload,
      success: function(data) {
        $('#create-modal').modal('hide');
        getCategories();
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  });

  $('#edit-modal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let id = button.data('id');
    let name = button.data('name');

    category = {
      id: id,
      name: name
    };

    let modal = $(this);
    modal.find('.modal-title').text('Edit ' + name)
    modal.find('.modal-body input').val(name)
  });

  $('#edit-modal').on('click', '.btn-primary', function() {
    let url = '/api/categories/' + category.id;
    let name = $('#edit-modal input').val();

    category.name = name;

    $.ajax({
      url: url,
      type: 'PUT',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: category,
      success: function(data) {
        $('#edit-modal').modal('hide');
        getCategories();
      },
      error: function(data) {
        alert(data.responseJSON.message);
      }
    });
  });
</script>